html {
  font-size: 100%;
}

body {
  margin: 2rem 2rem;
  padding: 0;
  background-color: #f6eddc;
}

main {
  display: flex;
  width: 80%;
  max-width: 75rem;
  margin: 2rem auto;
  padding: 2rem 2rem;
  font-family: Montserrat;
  color: #800080;
  flex-direction: column;
  align-items: center;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #800080;
  margin: 2rem auto;
  padding: 2rem 0;
  border-radius: 0.5rem;
  width: 95%;
  max-width: 80rem;
}

header a {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit
}

p {
  margin: 3rem 1rem;
}

footer p {
  font-family: Montserrat;
  color: #F6AE2D;
  margin: 0 2rem;
}


header h1 {
  margin: 0 2rem;
  color: #F6AE2D;
  font-family: Lobster;
  font-size: 2rem;
}


nav ul {
  list-style-type: none;
  margin: 0 2rem;
  padding: 0;
}

nav li {
  display: inline;
  color: #F6AE2D;
  margin: 0 0.5rem;
  font-family: Lobster;
  font-size: 2rem;
}

nav li.active {
  border-bottom: 0.2rem #F6AE2D solid;
}

nav li:hover {
  border-bottom: 0.2rem #F6AE2D solid;
}

form {
  width: 30rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  width: 100%;
  margin: 1rem 0;
}

input[type="text"] {
  width: 100%;
}

input[type=submit], input[type=reset] {
  background-color: #800080;
  color: #F6AE2D;
  border: 0;
  border-radius: 0.5rem;
  width: 40%;
  padding: 1rem;
  margin: 1rem 0.5rem;
  font-size: 1rem;
}

textarea {
  padding: 0.2rem;
  width: 100%;
  height: 8rem;
  resize: none;
}

table {
  margin: 0 auto;
  padding: 2rem 2rem;
  border: 1px solid #800080;
  border-radius: 0.5rem;
  border-spacing: 2rem 1.5rem;
  text-align: center;

}

th {
  font-size: 1.5rem;
}

.body-image {
  display: block;
  height: 30rem;
  width: 30rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  width: 23rem;
  height: 23rem;
}

.material-icons {
  font-size: 10rem;
}

.icon-list {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.icon-list i, .icon-list h3 {
  margin: 0 auto;
  padding: 0 2rem;
}

#logo {
  width: 15rem;
}

@media (max-width: 100rem) {
  header h1 {
    display: none;
  }
  #logo {
    width: 15rem;
    margin: 0 2rem
  }
}